<div id="content">
	 <h1 id="story_title">Login</h1>
	 <div id="story">
		<%= form_tag logins_url do  %>

		<p>  
		  <%= label_tag :name %>
		  <%= text_field_tag :name %>
		</p>  
		<p>  
		  <%= label_tag :password, "Password" %>
		  <%= password_field_tag :password %>
		</p>  
		  <%= submit_tag "Let's Go!" %>
  
		<% end %>
	</div>
	<div class="bottom_pad"></div>
</div><!-- content -->