<div id="content">
	 <h1 id="story_title">Login</h1>
	 <div id="story">
		<%= form_tag logins_url do  %>

		<div class="field">
		  <%= label_tag :name %><br />
		  <%= text_field_tag :name %>
		</div>
		<div class="field">
		  <%= label_tag :password, "Password" %><br />
		  <%= password_field_tag :password %>
		</div>
		  <%= submit_tag "Let's Go!" %>
  
		<% end %>
	</div>
	<div class="bottom_pad"></div>
</div><!-- content -->