<div id="content">
	<h1 id="story_title"><% if @user %>Welcome, <%= @user.name.capitalize %><% else %>Building Stories One Line at a Time!<% end %></h1>
	<div id="story">
	    <p class="error"><%= flash[:notice] %></p>
		
		<% if @user %>
			<div class="public_list">
				<h3>Public Stories:</h3>
				<ul>
				<% @stories.each do |story| %>
					<% if story.private_story == false %>
					<li><% if story.is_free_for_all == true %>*<% end %><%= link_to story.title, story %></li>
					<% end %>
				<% end %>
				</ul>
			</div><!-- left_list -->
			<div class="private_list">
				<% if Invite.find_by_user_id(@user.id) %>
					<h3>Private Stories:</h3>
				<% else %>
				<h3>You don't belong to any private stories.</h3>
				<%= link_to "Care to start one?", "/stories/new", class: "center_link" %>
				<% end %>
				<ul>
				<% @stories.each do |story| %>
						<% if story.private_story == true && story.invites.find_by_story_id_and_user_id(story.id, @user.id) %>
							<li><% if story.is_free_for_all == true %>*<% end %><%= link_to story.title, story %></li>
						<% end %>
				<% end %>
				</ul>
			</div><!-- right_list -->
		<% else %>
		<p class="hey">Hey! We're just getting started here, so please <%= link_to "Sign Up", new_user_url %>, or <%= link_to "Log In", new_login_url %> to begin contributing.</p>
		<h3>Public Stories</h3>
		<ul>
		<% @stories.each do |story| %>
			<% if story.private_story == false %>
			<li><% if story.is_free_for_all == true %>*<% end %><%= link_to story.title, story %></li>
			<% end %>
		<% end %>
		</ul>
		<% end %>
		<p class="free_for_all">* Story is a free for all</p>
	</div><!-- #story -->
	<div class="bottom_pad"></div>
</div><!-- content -->
<div id="sidebar">
	<div class="sidebar_widget">
		<h2>How This Works</h2>
		<ul class="homepage_sidebar">
			<li>Register to contribute to stories</li>
			<li>Submit a new line to a story</li>
			<li>Vote on submissions</li>
			<li>The submission with the majority out of 10 votes is inserted into the story</li>
			<li>Free for all stories don't require votes on line submissions, so watch out</li>
			<li>After ten lines, a story is complete</li>
			<li>A new story will be generated</li>
		</ul>
	</div><!-- sidebar_widget -->
	<div class="sidebar_widget">
		<p class="sidebar_link"><%= link_to "Create A New Story", "/stories/new" %></p>
	</div><!-- sidebar_widget -->
</div><!-- sidebar -->