<h1><%= @story.title %></h1>
<ul>
<% @story_lines.each do |line| %>
<li><%= line.content %></li>
<% end %>
</ul>

<%= form_for @new_submission do |f| %>
<%= f.text_field :content %>
<%= f.submit "Create Line" %>
<% end %>

<ul>
<% @story_submissions.each do |submission| %>
<li><p>
	<%= submission.content %>
	</p>
	<span>
	<%= form_tag "/stories/#{params[:id]}/submission", :method => "put", :id => "vote" do %>
		<%= hidden_field_tag "vote_count", 1 %>
		<%= hidden_field_tag "submission_id", submission.id %>
		<!-- I don't think the line below is doing anything... -->
		<%= hidden_field_tag "user_id", :user_id %>
		<%= submit_tag "Vote" %>
	<% end %>
	<%= submission.votes %>
	</span>	
</li>
<% end %>
</ul>

<%= link_to "All Stories", stories_url %>